*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background-color: darkslategrey;
}
.card{
    width :90%;
    max-width: 450px;
    background: linear-gradient(135deg,#5941a9, #e5d4ed);
    color: #fff;
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    margin: 100px auto 0;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    padding: 6px 25px;
    border-radius: 20px;
    border: none;
    outline: none; 
    font-size: 14px;
    margin-right: 16px;
    flex: 1;
    height: 30px;
}
.search button{
    border: 0;
    outline: 0;
    height: 30px;
    mix-blend-mode: color-burn;
    
    cursor: pointer;
    
}